apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0ce0398b-ebfd-4ee4-b33b-aebb4bf6bf21" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_config" doc:name="HTTP Request config" doc:id="0b6092c3-6da4-4f3a-b337-ddeb4d191c92" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="helloFlow" doc:id="d27cd4ff-d058-4291-8dc2-1a743e9a46cf" >
		<http:listener doc:name="Listener" doc:id="d0d9d8f6-3353-49bc-9cf8-1b1367655c58" config-ref="HTTP_Listener_config" path="/hello">
			<repeatable-in-memory-stream />
			<http:response reasonPhrase="Success ">
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : attributes.queryParams.fname
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-payload value="Hello" doc:name="Hello" doc:id="c13a2038-e222-4fb7-a3d8-ba463c10ade5" />
		<http:request doc:name="GET/goodbye" doc:id="ff3c8730-494d-41d9-8da5-76fdadd73fc3" config-ref="HTTP_Request_config" path="/goodbye" responseTimeout="300000">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Hello" doc:id="7c7818a1-5277-44f3-a506-7a09d02f16cc" message="#[payload]"/>
	</flow>
	<flow name="goodbyeFlow" doc:id="0d6ce27c-bc36-4751-a190-3486f43f5006" >
		<http:listener doc:name="GET/goodbye" doc:id="ea8214cf-5952-4c4b-a4c2-d2cf2613723c" config-ref="HTTP_Listener_config" path="/goodbye" allowedMethods="GET"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="c77139e9-b78f-4ae7-bdc1-b7eff07df6e2" />
		<logger level="INFO" doc:name="fullName" doc:id="fc1368ac-8ef4-4e21-b596-3e587f99ccd5" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
